@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
body{
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}
//header style
.navbar-default .navbar-nav > li > a{
  color:#484c55 ;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  line-height: 15px;
  &:hover{
    color: #49cbcd;
  }
}
.navbar-default {
  background-color: white;
  border: 0;
  margin: 0;
  background-image: none;
  box-shadow: none;
  @include max-screen(767px){
  .navbar-brand{
    padding: 2px 15px;

  }
    @include max-screen(767px){
    position: fixed;
    z-index: 6;
    background-color: gray;
      width: 100%;
  }}
  .collapse{
    border: 0;
  }
  .navbar-toggle{
    background-color: #ddd;
  }
  li{
    padding: 12px 22px;
    background-color: white;
    border-bottom: solid 4px white;

  &:hover{
    border-bottom: solid 4px #49cbcd;
    background-color: #f8f9fb;
  }

}  }
//section slider
  h1{
    color: white;
    font-size: 50px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
  @keyframes bounce {
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  .slider__img{
    background-image: url("../images/slider_img.jpg");
    background-size: cover;
    height: 560px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 137px;
  img{
    height: 100%;
  }
    p{
      color: white;
      font-size: 19px;
      margin-bottom: 54px;
    }
    .slider__btn{
      max-width: 228px;
      width: 100%;
      margin: auto;
    a{
      border:solid 3px white ;
      color: white;
      font-size: 25px;
      text-transform: capitalize;
      padding: 22px 37px;
      text-decoration: none;
      position: absolute;
      transition: 0.3s;
      &:hover{
        animation: 2s linear 0s infinite alternate bounce;
        background-color: #eed76c;
      }
    }
    }}
.owl-nav .owl-prev{
  display: block;
  position: absolute;
  left: 0;
  top: 40%;
  font-weight: 900!important;
  font-family: "Font Awesome 5 Free"!important;
}
.owl-nav .owl-prev:before {
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 12px 19px;
  font-size: 26px;
  color: #49cbcd;
  @include max-screen(767px){
    display: none;
  }
}
.owl-nav .owl-next{
  display: block;
  position: absolute;
  right: 0;
  top: 40%;
  font-weight: 900!important;
  font-family: "Font Awesome 5 Free"!important;
}
.owl-nav .owl-next:before {
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 12px 19px;
  font-size: 26px;
  color: #49cbcd;
  @include max-screen(767px){
    display: none;
  }
}
button.owl-dot span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: black !important;
  border-radius: 50%;
  margin: auto;
  margin-right: 5px;
}
button .owl-dot{
  display: inline-block;
}
.owl-dots {
  height: 30px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom:30px;
  left: 0;
  display: none;
  @include max-screen(767px){
    display: block;
  }
}
button.owl-dot.active span{
  width: 25px;
  height: 25px;

}

.container__img{
  width: 200px;
  height: 200px;
  background-color: silver;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 71px;
  img{
    display:block;
    width: 100%;
  }
  &:after {
    position: absolute;
    top: -76px;
    left: 136px;
    content: "+";
    color: red;
    font-size: 40px;
    display: none;
    transition: 0.5s;
    @include max-screen(1200px){
      left: 110px;
    }
    @include max-screen(992px){
      left: 175px;
    }
    @include max-screen(767px){
      left: 48%;
    }
  }
      &:hover{
      &:after{
        display: block;
        top: 76px;
      }
    }
  }
.team{
  h2{
    text-transform: capitalize;
    font-size: 42px;
    line-height: 42px;
    color: #4e525d;
    margin-bottom: 144px;
    margin-top: 110px;
    @include max-screen(767px) {
    margin-bottom: 70px;
      margin-top: 50px;
    }
  }
  h3{
    text-transform: capitalize;
    font-size: 22px;
    line-height: 22px;
    color: #4e525d;
    margin-bottom: 14px;
  }
  h4{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #4e525d;
    margin-bottom: 33px
  }
  p{
    font-size: 14px;
    line-height: 20px;
    color: #4e525d;
    margin-bottom: 108px;
    @include max-screen(767px){
      margin-bottom: 70px;
    }
  }
}
.rates {
  .container__title-grey {
    background-color: #485460;
    padding: 27px;
  }
  h3 {
    text-align: center;
    font-size: 26px;
    text-transform: capitalize;
    line-height: 26px;
    color: white;
  }

  ul.list {
    padding: 0;
  }

  .container__subtitle {
    display: inline-block;
    border: solid 1px #ecf0f1;
    background-color: #f8f9fb;
    color: #485460;
    font-size: 20px;
    text-align: center;
    padding: 28px 15px 25px;
    width: 100%;
  }

  .list__item {
    display: inline-block;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #ecf0f1;
    width: 100%;
    padding: 19px 15px;
  }

  .container-btn {
    padding: 29px 15px;
    background-color: #f8f9fb;
    border: solid 1px #ecf0f1;
    width: 100%;
    margin: auto;

    .container__btn-grey {
      display: block;
      max-width: 170px;
      margin: auto;
      text-decoration: none;
      color: white;
      font-size: 17px;
      font-weight: 600;
      line-height: 17px;
      text-align: center;
      background-color: #788492;
      padding: 12px 15px;
      &:hover{
        transition: 0.6s;
        background-color: #eed76c;
      }
    }
  }

  .container__title-aqua {
    background-color: #49cbcd;
    padding: 27px;}
    .container__btn-aqua{
      background-color: #49cbcd;
      display: block;
      max-width: 170px;
      margin: auto;
      text-decoration: none;
      color: white;
      font-size: 17px;
      font-weight: 600;
      line-height: 17px;
      text-align: center;
      padding: 12px 15px;
      &:hover{
        transition: 0.6s;
        background-color: #eed76c;
      }
    }

}
ul{
  margin: 0;
}
footer{
  background-image: url("../images/contact_bg.jpg");
  background-size: cover;
  width: 100%;
  padding: 104px 15px 98px;
  margin-bottom: -30px;
  @include max-screen(767px){
    padding: 50px 15px 50px;
  }
  h2{
    text-transform: capitalize;
    font-size: 42px;
    line-height: 42px;
    color: white;
    margin-bottom: 112px;
    text-align: center;
    @include max-screen(767px){
      margin-bottom: 50px;
    }
  }
  h3{
    text-transform: capitalize;
    font-size: 24px;
    line-height: 24px;
    color: white;
    margin-bottom: 14px;
    margin-top: 0;
    @include max-screen(767px){
      text-align: center;
    }
  }
  p{
    font-size: 14px;
    line-height: 20px;
    color: #909090;
    margin-bottom: 40px;
    &:last-child{
      color: #bface2;
    }
    @include max-screen(767px){
      text-align: center;
    }
  }
}
.fa-facebook-f{
  width: 43px;
  height: 43px;
  background-color: #3b5997;
  color: white;
  font-size: 22px;
  padding: 11px 16px;
  border-radius: 50%;
  margin: 0 15px 22px 0;
  &:hover{
    transition: 0.6s;
    background-color: #b89c00;
  }
}
.fa-twitter{
  width: 43px;
  height: 43px;
  background-color: #3ec2f3;
  color: white;
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
  margin: 0 15px 22px 0;
  &:hover{
    transition: 0.6s;
    background-color: #b89c00;
  }
}
.fa-google-plus-g{
  display: block;
  width: 43px;
  height: 43px;
  background-color: #e44c41;
  color: white;
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
  margin: 0 15px 22px 0;
  &:hover{
    transition: 0.6s;
    background-color: #b89c00;
  }

}
input{
  border: 0;
}
.container-flex{
  display: flex;
  @include max-screen(767px){
    flex-direction: column;
  }
}
.flex__input{
  max-width: 270px;
  width: 100%;
  margin-bottom: 30px;
  @include max-screen(767px){
    margin: auto;
    margin-bottom: 10px;
  }
  &:first-child{
    margin-right: 29px;
  }
  @include max-screen(767px){
    &:first-child{
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
input,textarea{
  padding: 15px 15px 15px 19px;
  width: 100%;
  color: #c1c1c1;
  height: 100%;
  text-transform: capitalize;
  font-size: 16px;
  resize: none;


}
.container-input{
  max-width: 570px;
  width: 100%;
  height: 179px;
  margin-bottom: 30px;
  @include max-screen(767px){
    max-width: 270px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.container-btn{
  max-width: 570px;
  width: 100%;
  button{
    display: block;
    margin-left: auto;
    background-color: #49cbcd;
    color: white;
    font-size: 22px;
    border: 0;
    width: 168px;
    line-height: 22px;
    padding: 15px 15px 18px;
    text-transform: capitalize;
    &:hover{
      transition: 0.6s;
      background-color: #eed76c;
    }
    @include max-screen(767px) {
      margin: auto;
    }

  }
}
section.slider{
  width: 100%;
}
.icons-container{
  max-width: 430px;
  width: 100%;
  @include max-screen(767px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 180px;
  }

    a{
    @include max-screen(767px) {
      display: block;
    }
  }
}
